{% extends "web_layout/trang-chu-master.html" %}    
{% block head %}

{{ super()}}
{% block title %} Trang thông tin {% endblock %}

{% endblock %}

<!-- Content Block -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">

                <div class="col-sm-6">
                    <h4 class="page-title">Profile</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" style="color: black;">Thành viên : Tuấn Anh</li>
                    </ol>

                </div>
                
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="card h-100">
                    <img class="img-thumbnail card-img-top" alt="200x200" width="200"
                    src="{{ url_for('static' , filename ='trang_chu/images/tuan-anh.jpg') }}"
                        data-holder-rendered="true" alt="Card image cap">

                    <div class="card-body">
                        <h4 class="card-title font-16 mt-0" style="color: whitesmoke;"> Nguyễn Tuấn Anh</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: whitesmoke;" >Nam</li>
                            <li class="list-group-item" style="color: whitesmoke;">091234567</li>
                        </ul>
                    
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-md-6 col-lg-6 col-xl-8">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 style="color: whitesmoke;">Thông tin cá nhân</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Họ và Tên</th>
                                            <td>Nguyễn Tuấn Anh</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Giới tinh</th>
                                            <td>Nam</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Ngày sinh</th>
                                            <td>...</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Địa chỉ</th>
                                            <td>...</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Số điện thoai</th>
                                            <td>091234567</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Vị trí</th>
                                            <td>Member</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td>abc@gmail.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>

        </div>
    </div>
    <!-- container-fluid -->

</div>
<!-- content -->
{% endblock %}

<!-- Script block -->

{% block script %}

{{ super()}}

{% endblock %}