{% extends "web_layout/trang-chu-master.html" %}    
{% block head %}

{{ super()}}
{% block title %} Trang thông tin {% endblock %}

{% endblock %}

<!-- Content Block -->

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">

                <div class="col-sm-6">
                    <h4 class="page-title">Thông tin</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" style="color: black;">Lịch sử thành lập</li>
                    </ol>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-5">
                        <div class="card h-100">
                            <img class="img-thumbnail card-img-top" alt="400x400" width="200"
                                src="{{ url_for('static', filename = 'trang_chu/images/7.jpg') }}"
                                data-holder-rendered="true" alt="Card image cap">   
                            
                            <div class="card-body">    
                                <h4 class="card-title font-16 mt-0 text-center" style="color: whitesmoke;"> Hình ảnh năm 1920</h4>
                            </div>
                        </div>

                    </div><!-- end col -->
        
                    <div class="col-md-6 col-lg-6 col-xl-7">
                        <div class="card h-100">
                            <div class="card-body">
                                <p style="color:whitesmoke"><b>95 năm - một ngôi trường</b><br />
                                    Gần một thế kỷ đã đi qua với biết bao biến cố lịch sử và những đổi thay trong cuộc đời. 95
                                    năm có thể chỉ là cái chớp mắt của vị thần thời gian nhưng là một hành trình dài để hình
                                    thành và phát triển của ngôi trường có bề dày lịch sử mang tên ÁO TÍM - GIA LONG -MINH
                                    KHAI.<br />
                                    Nằm ở khu vực trung tâm thành phố, được bao bọc bởi bốn giao lộ đông người, thờ ơ với những bon chen, náo nhiệt của phố phường, ngôi trường đã trở thành một chốn bình yên đi về phủ đầy cây xanh bóng mát, là đất lành nuôi dưỡng tâm hồn và vun đắp tri thức cho biết bao lớp học trò trưởng thành và vinh danh cho đời. Được khởi công xây dựng từ năm 1913, từ tâm huyết của những người trí thức yêu nước quan tâm đến vấn đề giáo dục nữ giới, đến nay đã gần trăm năm tuổi, bên cạnh những kiến trúc kiểu gô-tích phổ biến ở đầu thế kỉ XX, ngôi trường vẫn ung dung khoác lên mình chiếc áo thanh tân được tô điểm bằng bao đổi thay, phát triển và vươn lên không ngừng qua từng năm tháng. Nó như diện mạo của một người con gái mang nét đẹp truyền thống, duyên dáng, kín đáo, luôn biết làm mới mình và chưa bao giờ bằng lòng dừng lại với những gì đang có. 
        
                                </p>
                            </div>
                        </div><!-- end col -->
                    </div>
        
                </div>
            </div>
            <!-- container-fluid -->
        
        </div>
    </div>
</div>
                
{% endblock %}

<!-- Script block -->

{% block script %}

{{ super()}}

{% endblock %}